@import "../../../styles/_index";

.finalMessage--container{
    font-family: $font-family--default;
    background-color: $white;
    max-width: 380px;
    width: 100%;
    margin: 0 auto;
    padding: 50px;
    border-radius: 5px;
    border: none;
    position: fixed;
    top: 25%;
    left: 30%;
    z-index: 10;
    height: fit-content;

    .title--container{
        text-align: center;

        h1{
            font-size: $font-size--title;
            color: $color-purple;
            font-weight: bold;
        }
    }

    .text--container{
        text-align: center;
        margin: 50px auto;

        h2{
            font-size: $font-size--medium--secondary;
            color: $color-gray;
        }
    }
    
    .btn--modal--cta--full{
        text-align: center;

        button{
            @extend %btn--modal--full;
        }
    }
}


@media(min-width: $mobile-small){
    .finalMessage--container{
        max-width: 320px;
        width: 82%;
        left: 0;
        height: 600px;
        overflow: scroll;
    }
}

@media(min-width: 360px){
    .finalMessage--container{
        max-width: 320px;
        width: 82%;
        left: 0.5%;
        height: 600px;
        overflow: scroll;
    }
}

@media(min-width: 375px){
    .finalMessage--container{
        max-width: 320px;
        width: 82%;
        left: 1%;
        height: 600px;
        overflow: scroll;
    }
}

@media(min-width: 411px){
    .finalMessage--container{
        max-width: 320px;
        width: 82%;
        left: 4%;
        height: 600px;
        overflow: scroll;
    }
}

@media(min-width: $mobile){
    .finalMessage--container{
        max-width: 420px;
        width: 82%;
        left: 2%;
        height: 700px;
        overflow: scroll;
    }
}

@media(min-width: $tablet-ver){
    .finalMessage--container{
        max-width: 380px;
        width: 100%;
        left: 21%;
        height: auto;
        overflow: hidden;
    }
}

@media(min-width: $tablet-hor){
    .finalMessage--container{
        max-width: 380px;
        width: 100%;
        left: 30%;
    }
}

@media(min-width: $desktop-small){
    .form--container{
        left: 35%;
    }
}


@media(min-width: $desktop){
    .finalMessage--container{
        left: 33%;
    }
}

@media(min-width: 1680px){
    .finalMessage--container{
        left: 35%;
    }
}

@media(min-width: 1920px){
    .finalMessage--container{
        left: 37.8%;
    }
}

@media(min-width: $desktop-large){
    .finalMessage--container{
        left: 40.5%;
    }
}
